In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

**flights.csv**

Dane o wszystkich wylotach z Nowego Jorku - lotniska JFK, LGA, EWR.

- `year`, `month`, `day`: Date of departure.
- `dep_time`, `arr_time`: Actual departure and arrival times (format HHMM or HMM), local tz.
- `sched_dep_time`, `sched_arr_time`: Scheduled departure and arrival times (format HHMM or HMM), local tz.
- `dep_delay`, `arr_delay`: Departure and arrival delays, in minutes. Negative times represent early departures/arrivals.
- `carrier`: Two letter carrier abbreviation. See airlines to get name.
- `flight`: Flight number.
- `tailnum`: Plane tail number. See planes for additional metadata.
- `origin`, `dest`: Origin and destination. See airports for additional metadata.
- `air_time`: Amount of time spent in the air, in minutes.
- `distance`: Distance between airports, in miles.
- `hour`, `minute`: Time of scheduled departure broken into hour and minutes.
- `time_hour`: Scheduled date and hour of the flight as a POSIXct date. Along with origin, can be used to join flights data to weather data.

**weather.csv**

Dane pogodowe dla kolejnych godzin z lotnisk JFK, LGA i EWR.

- `origin`: Weather station. Named origin to facilitate merging with flights data.
- `year`, `month`, `day`, `hour`: Time of recording.
- `temp`, `dewp`: Temperature and dewpoint in F.
- `humid`: Relative humidity.
- `wind_dir`, `wind_speed`, `wind_gust`: Wind direction (in degrees), speed and gust speed (in mph).
- `precip` Precipitation, in inches.
- `pressure` Sea level pressure in millibars.
- `visib` Visibility in miles.
- `time_hour` Date and hour of the recording as a POSIXct date.

In [2]:
weather = pd.read_csv('data/weather.csv')
weather = weather.drop(columns=['Unnamed: 0'])
weather

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01 01:00:00
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01 02:00:00
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01 03:00:00
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01 04:00:00
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26110,LGA,2013,12,30,14,35.96,19.94,51.78,340.0,13.80936,21.86482,0.0,1017.1,10.0,2013-12-30 14:00:00
26111,LGA,2013,12,30,15,33.98,17.06,49.51,330.0,17.26170,21.86482,0.0,1018.8,10.0,2013-12-30 15:00:00
26112,LGA,2013,12,30,16,32.00,15.08,49.19,340.0,14.96014,23.01560,0.0,1019.5,10.0,2013-12-30 16:00:00
26113,LGA,2013,12,30,17,30.92,12.92,46.74,320.0,17.26170,NaN,0.0,1019.9,10.0,2013-12-30 17:00:00
26114,LGA,2013,12,30,18,28.94,10.94,46.41,330.0,18.41248,NaN,0.0,1020.9,10.0,2013-12-30 18:00:00

In [3]:
flights = pd.read_csv('data/flights.csv')
flights = flights.drop(columns=['Unnamed: 0'])
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

#### Zadanie 3

Na podstawie danych o lotach:

- policz Å›redniÄ… i medianÄ™ opÃ³ÅºnieÅ„ przylotÃ³w samolotÃ³w (`arr_delay`) dla poszczegÃ³lnych przewoÅºnikÃ³w (`carrier`)
- posortuj wyniki od najwiÄ™kszej do najmniejszej Å›redniej opÃ³ÅºnieÅ„
- w wyniku przedstaw kolumny: `carrier` (index), `mean_delay` i `median_delay`
- wartoÅ›ci kolumny `mean_delay` zaokrÄ…glij do dwÃ³ch miejsc do przecinku (funkcja `DataFrame.round()`)

In [4]:
delayed = (flights[['carrier', 'arr_delay']]
    .groupby('carrier')
    .agg(['mean', 'median'])
    .rename(columns={'mean': 'mean_delay', 'median': 'median_delay'}))
delayed.columns = delayed.columns.droplevel()
delayed = delayed.sort_values('mean_delay', ascending=False)
delayed['mean_delay'] = delayed['mean_delay'].round(2)
delayed

         mean_delay  median_delay
carrier
F9            21.92           6.0
FL            20.12           5.0
EV            15.80          -1.0
YV            15.56          -2.0
OO            11.93          -7.0
MQ            10.77          -1.0
WN             9.65          -3.0
B6             9.46          -3.0
9E             7.38          -7.0
UA             3.56          -6.0
US             2.13          -6.0
VX             1.76          -9.0
DL             1.64          -8.0
AA             0.36          -9.0
HA            -6.92         -13.0
AS            -9.93         -17.0

#### Zadanie 4

Na podstawie danych pogodowych:

- podaj 5 dni, w ktÃ³rych na lotnisku JFK wiatr byÅ‚ najsilniejszy, uÅ›redniajÄ…c dane dla caÅ‚ego dnia
- dla kaÅ¼dego z wynikÃ³w podaj maksymalnÄ… prÄ™dkoÅ›Ä‡ podmuchu wiatru w tym dniu
- nazwij kolumny: `mean_wind_speed`, `max_wind_gust`
- prÄ™dkoÅ›ci podaj w km/h (1 mph = 1.609344 km/h)

In [5]:
worst_weather = weather[ weather['origin'] == 'JFK' ]
worst_weather = (worst_weather[['year', 'month', 'day', 'wind_speed', 'wind_gust']]
    .groupby(['year', 'month', 'day'])
    .agg({'wind_speed': 'mean', 'wind_gust': 'max'})
    .rename(columns={'wind_speed': 'mean_wind_speed', 'wind_gust': 'max_wind_gust'})
    .sort_values('mean_wind_speed', ascending=False)
    .head(5))
worst_weather[['mean_wind_speed', 'max_wind_gust']] = worst_weather[['mean_wind_speed', 'max_wind_gust']] * 1.609344
worst_weather

                mean_wind_speed  max_wind_gust
year month day
2013 1     31         48.383523      94.452045
     2     17         43.676354      72.228035
     11    24         39.355019      75.932036
     3     6          38.892019      75.932036
           14         36.191184      74.080036

#### Zadanie 5

W danych o lotach kolumna `time_hour` przedstawia czas wylotu zaokrÄ…glony do peÅ‚nej godziny.
WartoÅ›ci tej kolumny odpowiadajÄ… wartoÅ›ciom godzin pomiarÃ³w z danych pogodowych, dziÄ™ki czemu moÅ¼na ich uÅ¼yÄ‡ do zestawienia obu zbiorÃ³w danych.

Kolumna `time_hour` zawiera czas wylotu "obciÄ™ty" do peÅ‚nej godziny. Np. zarÃ³wno dla godziny 11:07 i 11:52 czas bÄ™dzie podany jako 11:00:00.

Aby uzyskaÄ‡ jak najlepsze wyniki po zestawieniu z danymi pogodowymi powinniÅ›my dla kaÅ¼dego wylotu uÅ¼ywaÄ‡ **najbliÅ¼szych** danych pogodowych, a nie z **ostatniej** peÅ‚nej godziny.

- dla wylotÃ³w w minutach 30-59 zmieÅ„ wartoÅ›Ä‡ komÃ³rki `time_hour` na **nastÄ™pnÄ…** godzinÄ™
- jako godziny wylotu uÅ¼yj wartoÅ›ci `dep_time`
- jeÅ›li wartoÅ›Ä‡ `dep_time` nie istnieje, uÅ¼yj `sched_dep_time`

PodpowiedÅº: wartoÅ›ci komÃ³rek `dep_time` / `sched_dep_time` zapisane sÄ… w formacie HHMM. Reszta z dzielenia przez 100 zwrÃ³ci minutÄ™.

In [6]:
fixed_flights = flights.copy()
fixed_flights['time_hour'] = pd.to_datetime(fixed_flights['time_hour'])

In [7]:
merged_dep_time = fixed_flights['dep_time'].fillna(fixed_flights['sched_dep_time'])
merged_dep_time

0          517.0
1          533.0
2          542.0
3          544.0
4          554.0
           ...
336771    1455.0
336772    2200.0
336773    1210.0
336774    1159.0
336775     840.0
Name: dep_time, Length: 336776, dtype: float64

In [8]:
fixed_flights.loc[ merged_dep_time % 100 >= 30, 'time_hour' ] += pd.DateOffset(hours=1)
fixed_flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 06:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 06:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 06:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 07:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 15:00:00
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 12:00:00
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 09:00:00

#### Zadanie 6

- poÅ‚Ä…cz dane wylotÃ³w z danymi pogodowymi na podstawie kolumn `origin` i `time_hour`
- znajdÅº 5 lotÃ³w z najwiÄ™kszymi opÃ³Åºnieniami wylotu z powodu zÅ‚ej pogody - prÄ™dkoÅ›ci wiatru rÃ³wnej 20 mph i wiÄ™cej lub widocznoÅ›ci mniejszej niÅ¼ 3 mile

In [9]:
converted_weather = weather.copy()
converted_weather['time_hour'] = pd.to_datetime(converted_weather['time_hour'])
converted_weather = converted_weather.drop(columns=['year', 'month', 'day', 'hour'])
converted_weather

,origin,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01 01:00:00
1,EWR,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01 02:00:00
2,EWR,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01 03:00:00
3,EWR,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01 04:00:00
4,EWR,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...
26110,LGA,35.96,19.94,51.78,340.0,13.80936,21.86482,0.0,1017.1,10.0,2013-12-30 14:00:00
26111,LGA,33.98,17.06,49.51,330.0,17.26170,21.86482,0.0,1018.8,10.0,2013-12-30 15:00:00
26112,LGA,32.00,15.08,49.19,340.0,14.96014,23.01560,0.0,1019.5,10.0,2013-12-30 16:00:00
26113,LGA,30.92,12.92,46.74,320.0,17.26170,NaN,0.0,1019.9,10.0,2013-12-30 17:00:00
26114,LGA,28.94,10.94,46.41,330.0,18.41248,NaN,0.0,1020.9,10.0,2013-12-30 18:00:00

In [10]:
flights_weather = fixed_flights.merge(converted_weather, on=['origin', 'time_hour'], how='left')
flights_weather

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 06:00:00,39.92,24.98,54.81,260.0,16.11092,23.01560,0.0,1011.7,10.0
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 06:00:00,37.94,26.96,64.29,260.0,13.80936,NaN,0.0,1012.6,10.0
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 06:00:00,37.94,26.96,64.29,260.0,13.80936,NaN,0.0,1012.6,10.0
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 07:00:00,39.92,26.06,57.33,250.0,14.96014,25.31716,0.0,1011.9,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 15:00:00,68.00,53.06,58.80,190.0,10.35702,NaN,0.0,1016.2,10.0
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00,64.94,53.06,65.37,200.0,6.90468,NaN,0.0,1015.8,10.0
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00,69.08,48.02,46.99,70.0,5.75390,NaN,0.0,1016.7,10.0
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 12:00:00,69.08,48.02,46.99,70.0,5.75390,NaN,0.0,1016.7,10.0
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 09:00:00,62.96,51.08,65.14,60.0,4.60312,NaN,0.0,1018.3,10.0

In [11]:
flights_weather[ (flights_weather['wind_speed'] >= 20) | (flights_weather['visib'] < 3) ].sort_values('dep_delay', ascending=False).head(5)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
173992,2013,4,10,1100.0,1900,960.0,1342.0,2211,931.0,DL,2391,N959DL,JFK,TPA,139.0,1005,19,0,2013-04-10 19:00:00,60.80,48.92,71.64,330.0,31.07106,NaN,0.11,NaN,10.00
210174,2013,5,19,713.0,1700,853.0,1007.0,1955,852.0,AA,257,N3HEAA,JFK,LAS,323.0,2248,17,0,2013-05-19 17:00:00,57.02,55.04,93.08,100.0,12.65858,NaN,0.03,1023.5,1.25
95530,2013,12,14,830.0,1845,825.0,1210.0,2154,856.0,DL,2391,N939DL,JFK,TPA,173.0,1005,18,45,2013-12-14 19:00:00,30.02,26.06,85.00,50.0,17.26170,NaN,0.03,1021.1,1.25
182478,2013,4,19,912.0,1940,812.0,1228.0,2247,821.0,DL,1435,N900DE,LGA,TPA,174.0,1010,19,40,2013-04-19 19:00:00,62.06,57.02,83.54,170.0,17.26170,25.31716,0.00,NaN,2.50
182296,2013,4,19,617.0,1700,797.0,858.0,1955,783.0,AA,257,N3GJAA,JFK,LAS,313.0,2248,17,0,2013-04-19 17:00:00,57.02,53.96,89.48,180.0,25.31716,33.37262,0.00,1007.0,0.12